<div class="container">
  <div class="row">
    <form [formGroup]='wordForm' (ngSubmit)="onAddWordSubmit($event)" #form="ngForm">
      <mat-form-field>
        <input #english [formControl]="wordForm.controls['english_word']" id="english_word" name="english_word" matInput placeholder="Слово на английском">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput [formControl]="wordForm.controls['russian_word_1']" id="translation_1" name="translation_1" placeholder="Вариант перевода №1">
      </mat-form-field>
      <mat-form-field>
        <input matInput [formControl]="wordForm.controls['russian_word_2']" id="translation_2" name="translation_2" placeholder="Вариант перевода №2">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput [formControl]="wordForm.controls['russian_word_3']" id="translation_3" name="translation_3" placeholder="Вариант перевода №3">
      </mat-form-field>
      <mat-form-field>
        <input matInput [formControl]="wordForm.controls['russian_word_4']" id="translation_4" name="translation_4" placeholder="Вариант перевода №4">
      </mat-form-field>
      <br>
      <button mat-raised-button [disabled]="!wordForm.valid" type="submit">Сохранить слово</button>
    </form>
  </div>
</div>
<div *ngIf="!wordToEdit" class="bg"></div>
