.bg {
    background-image: url('../../../assets/settings-bg.jpg');
}

form {
    width: 50%;
    margin: auto;
    min-width: 500px;
    img.hint {
        width: 30px;
        display: inline-block;
        margin-top: 9px;
        margin-left: 6px;
        opacity: 0.65;
    }
}

table {
    width: 100%;
    margin-bottom: 30px;
}

.mat-form-field,
.mat-select {
    width: 90%;
}