$button-front-color: #0A81D1;
$button-side-color: #05668D;
$button-bottom-color: #003D5B;
$red: #E94F37;
$red-side: darken($red, 10%);
$red-bottom: darken($red, 15%);
$aqua: #1D7874;
$aqua-side: darken($aqua, 10%);
$aqua-bottom: darken($aqua, 15%);
@mixin transition($transition) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transform($transform) {
    -moz-transform: $transform;
    -o-transform: $transform;
    -webkit-transform: $transform;
    transform: $transform;
}

.button-wrapper {
    position: relative;
    margin-left: 15px;
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 20px;
    &:hover {
        &>.text-wrapper {
            background-color: saturate(lighten($button-front-color, 15%), 15%);
            @include transition(background-color .4s ease-in);
        }
        &>.side-fx-wrapper {
            span {
                background-color: saturate(lighten($button-side-color, 15%), 15%);
                @include transition(background-color .4s ease-in);
            }
            &:before {
                border-color: transparent transparent saturate(lighten($button-side-color, 15%), 15%) transparent;
                @include transition(border-color .4s ease-in);
            }
            &:after {
                border-color: saturate(lighten($button-side-color, 15%), 15%) transparent transparent transparent;
                @include transition(border-color .4s ease-in);
            }
        }
        &>.bottom-fx-wrapper {
            span {
                background-color: saturate(lighten($button-bottom-color, 15%), 15%);
                @include transition(background-color .4s ease-in);
            }
            &:before {
                border-color: transparent transparent saturate(lighten($button-bottom-color, 15%), 15%) transparent;
                @include transition(border-color .4s ease-in);
            }
            &:after {
                border-color: saturate(lighten($button-bottom-color, 15%), 15%) transparent transparent transparent;
                @include transition(border-color .4s ease-in);
            }
        }
        &>.bg-wrapper {
            span {
                @include transition(background-color .4s ease-in);
                background-color: saturate(#D1495B, 55%);
            }
        }
    }
    .text-wrapper {
        @include transition(background-color .4s ease-out);
        background-color: $button-front-color;
        color: #fff;
        padding: 10px 20px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
        margin-left: -15px;
        letter-spacing: 1px;
        cursor: pointer;
        display: inline-block;
    }
    .side-fx-wrapper {
        font-size: 0;
        position: absolute;
        left: 0;
        top: 7px;
        @include transform(skewY(-45deg));
        z-index: 6;
        height: 100%;
        span {
            display: inline-block;
            width: 15px;
            height: 100%;
            background-color: $button-side-color;
            @include transition(background-color .4s ease-out);
        }
        &:before,
        &:after {
            // content: '';
            @include transition(border-color .4s ease-out);
            display: inline-block;
        }
        &:before {
            position: absolute;
            top: -15px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 15px 15px;
            border-color: transparent transparent $button-side-color transparent;
        }
        &:after {
            position: absolute;
            left: 0;
            bottom: -15px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 15px 15px 0 0;
            border-color: $button-side-color transparent transparent transparent;
        }
    }
    .bottom-fx-wrapper {
        font-size: 0;
        position: absolute;
        bottom: -15px;
        left: 7px;
        width: calc(100% - 15px);
        z-index: 6;
        @include transform(skewX(-45deg));
        &:before,
        &:after {
            @include transition(border-color .4s ease-out); // content: '';
            display: inline-block;
        }
        &:before {
            position: absolute;
            left: -15px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 15px 15px;
            border-color: transparent transparent $button-bottom-color transparent;
        }
        &:after {
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 15px 15px 0 0;
            border-color: $button-bottom-color transparent transparent transparent;
        }
        span {
            @include transition(background-color .4s ease-out);
            display: inline-block;
            width: 100%;
            height: 15px;
            background-color: $button-bottom-color;
            z-index: 6;
        }
    }
    .bg-wrapper {
        background-color: #EDAE49;
        position: absolute;
        width: calc(100% + 10px);
        height: 52px;
        left: -15px;
        top: 5px;
        z-index: 5;
        border-radius: 3px;
        span {
            display: inline-block;
            position: absolute;
            width: 3px;
            height: 3px;
            background: #D1495B;
            &:nth-of-type(1) {
                left: 6px;
                top: 6px;
            }
            &:nth-of-type(2) {
                left: 6px;
                bottom: 6px;
            }
            &:nth-of-type(3) {
                right: 6px;
                top: 6px;
            }
            &:nth-of-type(4) {
                right: 6px;
                bottom: 6px;
            }
        }
    }
    &.red {
        .text-wrapper {
            @include transition(background-color .4s ease-out);
            background-color: $red;
        }
        .side-fx-wrapper {
            span {
                @include transition(background-color .4s ease-out);
                background-color: $red-side;
            }
            &:before {
                border-color: transparent transparent $red-side transparent;
                @include transition(border-color .4s ease-out);
            }
            &:after {
                border-color: $red-side transparent transparent transparent;
                @include transition(border-color .4s ease-out);
            }
        }
        .bottom-fx-wrapper {
            span {
                @include transition(background-color .4s ease-out);
                background-color: $red-bottom;
            }
            &:before {
                border-color: transparent transparent $red-bottom transparent;
                @include transition(border-color .4s ease-out);
            }
            &:after {
                border-color: $red-bottom transparent transparent transparent;
                @include transition(border-color .4s ease-out);
            }
        }
        &:hover {
            &>.text-wrapper {
                background-color: saturate(lighten($red, 15%), 15%);
                @include transition(background-color .4s ease-in);
            }
            &>.side-fx-wrapper {
                span {
                    background-color: saturate(lighten($red-side, 15%), 15%);
                    @include transition(background-color .4s ease-in);
                }
                &:before {
                    border-color: transparent transparent saturate(lighten($red-side, 15%), 15%) transparent;
                    @include transition(border-color .4s ease-in);
                }
                &:after {
                    border-color: saturate(lighten($red-side, 15%), 15%) transparent transparent transparent;
                    @include transition(border-color .4s ease-in);
                }
            }
            &>.bottom-fx-wrapper {
                span {
                    background-color: saturate(lighten($red-bottom, 15%), 15%);
                    @include transition(background-color .4s ease-in);
                }
                &:before {
                    border-color: transparent transparent saturate(lighten($red-bottom, 15%), 15%) transparent;
                    @include transition(border-color .4s ease-in);
                }
                &:after {
                    border-color: saturate(lighten($red-bottom, 15%), 15%) transparent transparent transparent;
                    @include transition(border-color .4s ease-in);
                }
            }
            &>.bg-wrapper {
                span {
                    @include transition(background-color .4s ease-in);
                    background-color: saturate(#D1495B, 55%);
                }
            }
        }
    }
    &.aqua {
        .text-wrapper {
            @include transition(background-color .4s ease-out);
            background-color: $aqua;
        }
        .side-fx-wrapper {
            span {
                @include transition(background-color .4s ease-out);
                background-color: $aqua-side;
            }
            &:before {
                border-color: transparent transparent $aqua-side transparent;
                @include transition(border-color .4s ease-out);
            }
            &:after {
                border-color: $aqua-side transparent transparent transparent;
                @include transition(border-color .4s ease-out);
            }
        }
        .bottom-fx-wrapper {
            span {
                @include transition(background-color .4s ease-out);
                background-color: $aqua-bottom;
            }
            &:before {
                border-color: transparent transparent $aqua-bottom transparent;
                @include transition(border-color .4s ease-out);
            }
            &:after {
                border-color: $aqua-bottom transparent transparent transparent;
                @include transition(border-color .4s ease-out);
            }
        }
        &:hover {
            &>.text-wrapper {
                background-color: saturate(lighten($aqua, 15%), 15%);
                @include transition(background-color .4s ease-in);
            }
            &>.side-fx-wrapper {
                span {
                    background-color: saturate(lighten($aqua-side, 15%), 15%);
                    @include transition(background-color .4s ease-in);
                }
                &:before {
                    border-color: transparent transparent saturate(lighten($aqua-side, 15%), 15%) transparent;
                    @include transition(border-color .4s ease-in);
                }
                &:after {
                    border-color: saturate(lighten($aqua-side, 15%), 15%) transparent transparent transparent;
                    @include transition(border-color .4s ease-in);
                }
            }
            &>.bottom-fx-wrapper {
                span {
                    background-color: saturate(lighten($aqua-bottom, 15%), 15%);
                    @include transition(background-color .4s ease-in);
                }
                &:before {
                    border-color: transparent transparent saturate(lighten($aqua-bottom, 15%), 15%) transparent;
                    @include transition(border-color .4s ease-in);
                }
                &:after {
                    border-color: saturate(lighten($aqua-bottom, 15%), 15%) transparent transparent transparent;
                    @include transition(border-color .4s ease-in);
                }
            }
            &>.bg-wrapper {
                span {
                    @include transition(background-color .4s ease-in);
                    background-color: saturate(#D1495B, 55%);
                }
            }
        }
    }
}

:host {
    &.disabled {
        .text-wrapper {
            background-color: grey;
        }
        .bg-wrapper {
            span {
                background-color: darken(grey, 20%);
            }
        }
        .bottom-fx-wrapper {
            &:before {
                border-color: transparent transparent darken(grey, 15%) transparent;
            }
            &:after {
                border-color: darken(grey, 15%) transparent transparent transparent;
            }
            span {
                background-color: darken(grey, 15%);
            }
        }
        .side-fx-wrapper {
            &:before {
                border-color: transparent transparent darken(grey, 10%) transparent;
            }
            &:after {
                border-color: darken(grey, 10%) transparent transparent transparent;
            }
            span {
                background-color: darken(grey, 10%);
            }
        }
    }
}