<div *ngIf="displayWarning">
  <div class="warning text-center">
    <br>
    <br>
    <br> Для игры в этом режиме нужно иметь набор как минимум из 4 слов
    <br>
    <span routerLink="/add-word" class="pointer bold">Добавьте</span> больше слов или проверьте
    <span routerLink="/settings" class="pointer bold">настройки</span> (опция "Количество слов для игры")
  </div>
</div>

<div *ngIf="!displayWarning">
  <div class="container" *ngIf="!isGameOver" [@overTransition]="isGameOver">
    <h4 class="text-center" [@slideDown]="random">
      <div *ngFor="let word of [mainWord]">
        {{word}}
      </div>
    </h4>
    <div class="variants">
      <div class="variant text-center pointer" #variantHtml (click)="checkSelectedVariant(variant.value, $event)" *ngFor="let variant of variants">
        {{variant.display}}
      </div>
    </div>
    <div class="progres" *ngIf="!isTournamentMode">
      <span *ngFor="let word of words" #progressElement [ngStyle]="{ 'width': (1 / words.length) | percent: '.1-10' }"></span>
    </div>
  </div>

  <div class="container text-center" *ngIf="isGameOver">
    <h4 *ngIf="!isTournamentMode">
      Угадано слов: {{rightCounter}}
      <br> Промахов: {{wrongCounter}}
    </h4>
    <h4 *ngIf="isTournamentMode">
      <span [ngStyle]="{ 'color': players[0].color }">{{ players[0].score }}</span> против
      <span [ngStyle]="{ 'color': players[1].color }">{{ players[1].score }}</span>
    </h4>
    <word-button buttonText="Начать сначала" (click)="newGame()"></word-button>
  </div>

  <div *ngIf="isTournamentMode && !isGameOver" class="active-player-indicator">
    <span class="top" [ngStyle]="{ 'background-color': getActivePlayer().color }"></span>
    <span class="bottom" [ngStyle]="{ 'background-color': getActivePlayer().color }"></span>
    <span class="left" [ngStyle]="{ 'background-color': getActivePlayer().color }"></span>
    <span class="right" [ngStyle]="{ 'background-color': getActivePlayer().color }"></span>
  </div>

  <div *ngIf="isTournamentMode && words && !isGameOver" class="players-scores">
    <span class="player-score" *ngFor="let player of players" [ngStyle]="{ 'background-color': player.color, 'height': (player.score / words.length) * 110 + 'px' }">
      <small [ngStyle]="{ 'color': player.color }">{{ player.score || '' }}</small>
    </span>
  </div>
</div>

<div class="bg"></div>
