@import "./base.css";

$base-space: 8px;
$orange: #EDAE49;

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  @extend .flex;

  justify-content: space-between;
}

.bg-orange {
  background: $orange;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

$directions: (l: left, t: top, r: right, b: bottom);
$types: (m: margin, p: padding);
$sizes: (xs: 1, sm: 2, md: 3, lg: 4, xl: 5);

@each $dir, $direction in $directions {
  @each $t, $type in $types {
    @each $size, $factor in $sizes {
      .#{$t}-#{$dir}-#{$size} {
        #{$type}-#{$direction}: $base-space * $factor;
      }
    }
  }
}

.m-b-sm--mobile {
  @media (max-width: 991px) {
    margin-bottom: $base-space * 2;
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}

.el-card {
  transition: none !important;
}
