<mat-toolbar color="primary">
  <span matTooltipShowDelay="2000" [matTooltip]="matchTooltip" routerLink='/match-words' routerLinkActive='active'>Режим "Составь пару"</span>
  <span matTooltipShowDelay="2000" [matTooltip]="selectTooltip" routerLink='/select-word' routerLinkActive='active'>Режим "Выбери вариант"</span>
  <span matTooltipShowDelay="2000" [matTooltip]="addTooltip" routerLink='/add-word' routerLinkActive='active'>Новое слово</span>
  <span matTooltipShowDelay="2000" [matTooltip]="listTooltip" routerLink='/word-list' routerLinkActive='active'>Все слова</span>
  <!-- <span routerLink='/statistics' routerLinkActive='active'>Статистика</span> -->
  <span matTooltipShowDelay="2000" [matTooltip]="settingsTooltip" routerLink='/settings' routerLinkActive='active'>Настройки</span>
</mat-toolbar>
