<mat-toolbar color="primary">
  <span matTooltipShowDelay="2000" [matTooltip]="matchTooltip" routerLink='/match-words' routerLinkActive='active'>
    <img src="assets/pair.png">Составление пар
  </span>
  <span matTooltipShowDelay="2000" [matTooltip]="selectTooltip" routerLink='/select-word' routerLinkActive='active'>
    <img src="assets/select.png">Выбор варианта
  </span>
  <span matTooltipShowDelay="2000" [matTooltip]="addTooltip" routerLink='/add-word' routerLinkActive='active'>
    <img src="assets/add.png"> Новое слово
  </span>
  <span matTooltipShowDelay="2000" [matTooltip]="listTooltip" routerLink='/word-list' routerLinkActive='active'>
    <img src="assets/list.png"> Все слова
  </span>
  <!-- <span routerLink='/statistics' routerLinkActive='active'>Статистика</span> -->
  <span matTooltipShowDelay="2000" [matTooltip]="settingsTooltip" routerLink='/settings' routerLinkActive='active'>
    <img src="assets/settings.png"> Настройки
  </span>
</mat-toolbar>
