// .container {
//     max-width: 1200px;
//     margin: auto;
//     margin-top: 24px;
// }
th,
td {
    padding: 15px;
}

word-button:not(:last-child) {
    margin-right: 15px;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    max-width: 900px;
    h5 {
        font-size: 25px;
        font-weight: 100;
    }
}

tr {
    &:not(:last-child),
    th {
        border-bottom: 1px solid #EDAE49;
    }
    th {
        font-weight: 100;
        &:first-child {
            text-align: left;
        }
    }
}

.no-words {
    font-size: 18px;
}

.bg {
    background-image: url('../../../assets/words-list-bg.jpg');
}

.search {
    position: fixed;
    padding-left: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    .mat-form-field {
        width: calc(100% - 81px);
    }
    & + span {
        display: inline-block;
        position: fixed;
        right: 0;
        bottom: 0;
        height: 66px;
        width: 66px;
        background: #247ba0;
        img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}