<div *ngIf='deleteStatus' class="text-center add-status">
  {{deleteStatus}}
</div>
<div class="container">
  <div class="text-center no-words bold" *ngIf="!words.length && isLoaded">
    Начните добавлять слова, перейдя
    <a routerLink='/add-word'>сюда</a>
  </div>
  <table class="highlight bordered" *ngIf="words.length && isLoaded">
    <thead class="blue-text text-darken-1">
      <tr>
        <th>Слово</th>
        <th>Переводы</th>
        <th>Статистика</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody [@listAnimation]="words[0]._id">
      <tr *ngFor='let word of words | paginate: { itemsPerPage: wordsPerPage, currentPage: pageNum, totalItems: wordsCount }'>
        <td>
          <h5>{{word.english}}</h5>
        </td>
        <td>
          <span *ngFor='let russian of word.russian'>
            {{russian}}
            <br />
          </span>
        </td>
        <td>
          Угадано раз: {{ word.rightCount }}
          <br> Ошибок: {{ word.wrongCount }}
        </td>
        <td class="actions text-center">
          <word-button buttonText="Изменить" color='aqua' (click)='openEditModal(word)'></word-button>
          <word-button buttonText="Удалить" color='red' (click)='openDeleteModal(word)'></word-button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="changePage($event)" previousLabel="Сюда" nextLabel="Туда" autoHide="true"></pagination-controls>
</div>

<modal #deleteModal acceptText="Удалить" dismissText="Отмена" (modalResult)="onDeleteModalResult($event)">
  <div class="text-center">
    Вы действительно хотите удалить слово
    <b>{{wordToDelete}}</b>?
  </div>
</modal>

<modal #editModal dismissText="Отмена" (modalResult)="onEditModalResult($event)">
  <add-word [wordToEdit]='currentEditWord' (wordUpdateResult)="onWordUpdate($event)"></add-word>
</modal>

<div class="bg"></div>
